#!/bin/sh

color_scheme="{{ color_scheme.name }}-{{ color_scheme.light_variant }}"

if [ "$1" = "dark" ]; then
  color_scheme="{{ color_scheme.name }}-{{ color_scheme.dark_variant }}"
fi

echo "Changing to the $1 color scheme: ${color_scheme}"

{{ kitty_bin_dir }}/kitten themes --reload-in all "${color_scheme}"
