export COLOR_SCHEME="{{ color_scheme.name }}"
export DARK_COLOR_SCHEME_FLAVOR="{{ color_scheme.dark_flavor }}"
export LIGHT_COLOR_SCHEME_FLAVOR="{{ color_scheme.light_flavor }}"
export DARK_COLOR_SCHEME="{{ color_scheme.name }}-{{ color_scheme.dark_flavor }}"
export LIGHT_COLOR_SCHEME="{{ color_scheme.name }}-{{ color_scheme.light_flavor }}"

# vi: ft=sh
