export COLOR_SCHEME="{{ color_scheme.name }}"
export COLOR_SCHEME_DARK_VARIANT="{{ color_scheme.dark_variant }}"
export COLOR_SCHEME_LIGHT_VARIANT="{{ color_scheme.light_variant }}"
export DARK_COLOR_SCHEME="{{ color_scheme.name }}-{{ color_scheme.dark_variant }}"
export LIGHT_COLOR_SCHEME="{{ color_scheme.name }}-{{ color_scheme.light_variant }}"

export KANAGAWA_LOTUS_WHITE_3="{{ implemented_color_schemes.kanagawa.colors.lotus_white_3 }}"
export KANAGAWA_LOTUS_WHITE_4="{{ implemented_color_schemes.kanagawa.colors.lotus_white_4 }}"
export KANAGAWA_LOTUS_WHITE_5="{{ implemented_color_schemes.kanagawa.colors.lotus_white_5 }}"

# vi: ft=sh
