<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Label</key>
    <string>{{ alacritty_color_service_label }}</string>
    <key>ProgramArguments</key>
    <array>
      <string>{{ local_bin_dir }}/{{ alacritty_watch_script }}</string>
    </array>
    <key>RunAtLoad</key>
    <true />
    <key>KeepAlive</key>
    <dict>
      <key>SuccessfulExit</key>
      <false/>
    </dict>
    <key>StandardErrorPath</key>
    <string>{{ local_dir }}/{{ alacritty_color_service_stderr }}</string>
    <key>StandardOutPath</key>
    <string>{{ local_dir }}/{{ alacritty_color_service_stdout }}</string>
  </dict>
</plist>
